<div>
  <h1>Being Black and Getting Your Foot in the Door: Wrap Up Session</h1>

  <img class='full-border' src='/client/pages/projects/projects/mlt/part4/img/thumbnail/mlt.jpg' alt='resume_workshop_flier'>

  <h2>Thursday, December 8, 2017 at 6:00 pm, SUNY New Paltz Lecture Center Room 108</h2>

  <h3>Presenters: Dr. Cruz Caridad Bueno, Jabari Dash, Kadeen Douglas</h3>
</div>

<div class='top-border'>
  <h2>Assignment</h2>

  <a class='charcoal-link' href="/client/pages/projects/projects/mlt/part4/downloads/assignment.doc" target="_blank">
    <i class="fa fa-paperclip fa-5x grow" aria-hidden="true"></i>
  </a>

  <p>
    By December 15, 2017 please download and complete this assignment so that
    we are best prepared to submit your application before December 30, 2017.
  </p>
</div>

<div class='top-border'>
  <h2>Presentation</h2>

    <!--
      TO CONVERT PPTX TO PDF AND PRESERVE HYPER LINKS:
      https://smallpdf.com/ppt-to-pdf
    -->
    <a class='charcoal-link' href="/client/pages/projects/projects/mlt/part4/downloads/presentation.pdf" target="_blank">
      <i class="fa fa-file-powerpoint-o fa-5x grow" aria-hidden="true"></i>
    </a>

    <p>Check out the powerpoint presentation in case you missed us!</p>
</div>
