.center {
  text-align: center;

  font-family: 'Muli', sans-serif;
}

.left {
  text-align: left;
}


.partial {
  display: table;
  margin: 0 auto;
  width: 80%;
}

.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}


.white_link {
  color:white;
  text-decoration:none;
