@import "../../style/variables";

// Mixins
/*----------------------------------------------------------------------------*/

@mixin columns($columns) {
  -moz-column-count:    $columns;
  -webkit-column-count: $columns;
  column-count:         $columns;
}

@mixin gap($gap) {
  -webkit-column-gap:   $gap;
  -moz-column-gap:      $gap;
  column-gap:           $gap;
}

@mixin fadein($duration) {
  -webkit-animation-name:     fade_in;
  animation-name:             fade_in;
  -webkit-animation-duration: $duration;
  animation-duration:         $duration;
}

/*----------------------------------------------------------------------------*/

#photos {
  /* Prevent vertical gaps */
  line-height: 0;

  @include columns(3);
  @include gap(0px)

  img {
    width: 100%;
  }
}

/*----------------------------------------------------------------------------*/

/* The Modal (background) */
.modal {

  // Hidden, doesnt move
  display: none;
  position: fixed;

  /* Black w/ opacity
   * Fallback color is regular black
   */
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

/*----------------------------------------------------------------------------*/

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  height: 80%;

  // Center the image
  transform: translate(-50%, -50%);

  @include fadein($defaultAnimationDuration);
}

// Prevent the photos from being (visibly)
// selected when the button is clicked too fast
.modal-content::selection {
  opacity: 0;
}

/*----------------------------------------------------------------------------*/

// Center the image
img#modalImg.modal-content {
  margin: 0;
  margin-right: -50%;
  position: absolute;
}

/*----------------------------------------------------------------------------*/

// CSS for any button
// in the modal
// (color, size, etc)
.modalButton {
  position: absolute;
  color: $lightGrey;
  transition: $defaultAnimationDuration;
}

.modalButton:hover,
.modalButton:focus {
  cursor: pointer;
  color: darken($lightGrey, 30%);
}

/*----------------------------------------------------------------------------*/

$defaultDistanceFromEdge: 3%;

.arrow {
  top: 50%;
}

.prev {
  left: $defaultDistanceFromEdge;
}

.next {
  right: $defaultDistanceFromEdge;
}

.close {
  top: $defaultDistanceFromEdge;
  right: $defaultDistanceFromEdge;
}

/*----------------------------------------------------------------------------*/

@media (max-width: $mobile) and (orientation: portrait) {
  #photos {
    @include columns(1);
  }

  .modal-content {
    height: auto;
  }
}
