ul {
    padding: 0;
    list-style: none;
    background: #333;
}
ul li {
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
}
ul li a {
    display: block;
    padding: 14px 21px;
    color: #333;
    text-decoration: none;
}

ul li a:hover {
    background: #111;
    text-decoration: underline;
}

a:visited, a:hover, a:active {
  color:white;
  text-decoration:none;
}
