ul li[class*='header'] {
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
}

ul li a {
    display: block;
    padding: 14px 21px;
    color: #333;
    text-decoration: none;
}

ul li a:hover {
    background: #111;
    text-decoration: underline;
}
