// Colors
$charcoal: #333;
$black: #111;
$lightGrey: #f2f2f2;

// Navbars
$navpadding: 14px 16px;

// Screen Sizes
$mobile: 600px;

// Fonts
$defaultFont: 'Muli', sans-serif;

// Borders
$borderStyle: outset;

// Partials
$partialHeight: 100%;
$partialWidth: 80%;
$partialPadding: 1%;
