@import "variables";

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin scale($scale) {
	 @include transform(scale($scale));
}

/*------------------------------------------------------------------------------*/

.grow:hover {
  transition: 1.0s;
  @include transform(scale(1.25));
}

.grow {
  transition: 1.0s;
  @include transform(scale(1));
}

/*------------------------------------------------------------------------------*/

.fade.ng-enter {
  transition:1.0s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}


/*------------------------------------------------------------------------------*/

@media (max-width: $mobile) {

  /* Disable zoom for mobile */
  .grow:hover {
    transition: 1.0s;
    @include transform(scale(1));
  }
}
