@import "variables";

// Navbars
$navpadding: 14px 16px;

.navbar {
 // width: auto;
 width: 100%;
 overflow: hidden;
 background-color: $charcoal;

 a {
   float: left;
   display: block;
   text-align: center;
   text-decoration: none;
   color: $lightGrey;
   padding: $navpadding;
 }

 a:hover {
   background-color: $black;
   color: white;
 }

 .icon {
   display: none;
 }
}
