@import "variables";

html,
body {
	padding: $defaultPadding;
	margin: $defaultMargins;
	height: 100%;
	text-align: center;
  font-family: $defaultFont /* From Google fonts */
}

/* PARTIAL HTML TERMPLATES */
/*----------------------------------------------------------------------------*/

/* All page templates will fit within this box */
.partial {
	height: $partialHeight;

	/* Don't want to go all the way to edge of screen */
  width: $partialWidth;

  /* Sets borded for region where templates go */
  border-style: $borderStyle;

  /* padding */
  padding-left: $partialPadding;
  padding-right: $partialPadding;

	/* Center horizontally */
  display: table;
  margin: $defaultMargins auto;

	margin-top: 2%;
	margin-bottom: 2%;
}

/* MOBILE */
/*----------------------------------------------------------------------------*/

@media (max-width: $mobile) {

	.partial {
		padding-left:0;
	  padding-right:0;

		display: table;
	  margin: 0 auto;

		border-style: none;
		width: 100%;
	}
}
