@import "variables";

/* ALIGNMENT */
/*----------------------------------------------------------------------------*/

/* Align text left */
.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center-align{
  text-align: center;
}

/* COLORING */
/*----------------------------------------------------------------------------*/

.link-no-color-change {
  color : inherit;
}

/* Keep links with white text */
.white-link {
  color : white;
  text-decoration:none;
}

/* Keep links with charcoal text */
.charcoal-link {
  color:$charcoal;
  text-decoration:none;
}

/*----------------------------------------------------------------------------*/

.showMoreShowLess {
  color : blue;
}

// MISC
/*----------------------------------------------------------------------------*/

// Get rid of bullets in <ul>
.no-bullets {
	list-style-type: none;
}
