<div>
  <h2>Photography</h2>

  <p>
    Towards the end of my freshmen year of college, a friend loaned me their
    Canon T3 DSLR camera to shoot a couple of events. This being my first time using
    a DSLR, the photos came out horrible - so horrible that I won't bother to
    do a 'before and after' to show my progress. <a class='photography_a' ng-click='vm.showAllText()' href='' ng-show='!vm.showAll'>Read more...</a>
  </p>

  <div ng-show='vm.showAll'>
    <p>
      After that, I was determined to get a DSLR of my own and learn photography. That
      summer, I saved my money (in combination with my college refund check) to buy
      a Canon T5i of my own. To me, that camera was the best thing since sliced bread.
      It had a touch screen that swiveled out, interchangeable lenses, 60 frame persecond
      HD video, and more. I spent nearly all of my free time that summer reading the manual,
      watching YouTube tutorials, and taking photos of leaves and my dog Ceazar outside - I was obsessed.
    </p>

    <p>
      Fall 2014, I came back to New Paltz a new man. I was a sophomore, hairline was looking clean, I had a better
      meal plan, and most importantly, I (thought I) had become a master photographer. I
      decided to market myself as a freelance photographer to on-campus clubs because I (was broke and) wanted
      real experience as a photographer.
    </p>

    <p>
      Fast-forward 4 years, I now look back and say I have come along way as a photographer.
      I remember when my camera bag had just the camera body and its stock lens. Now, I have to
      go through the struggled of deciding what equipment to leave behind so that my camera bag doesn't
      swell up to the size of a suitecase. I have really enjoyed photography because it was my
      first official business that I owned. Though I ran it out of my dorm room, I have had the
      opportunity to shoot fashion shows, award ceremonies, dinners, dance shows, portraits, and
      yearbook photos. Through these experiences, I have developed
      as a professional, I have learned the importance of personal brand and marketing, plus all of the
      technical skills required to handle a DSLR camera and process them in Photoshop and Lightroom.
      Overall, photography has made a huge positive contribution to my growth as an individual and professional.
    </p>

    <p>
      However, I can also say, throughout this journey, I have grown a love-hate
      relationship with photography.
      Being behind a real camera gives you a new perspective, both figuratively and liteally.
      As a photographer (especially in  event photography) you are responsible for capturing
      every smile, award recipient, fashion model, and every other candid moment that you can think of -
      all the while adjusting flash, aperature, and shutter speed to compensate for harsh shadows,
      blue strobe lights, low lighting, or lack thereof. Oh, and I forgot to mention zoom, focus,
      and comporsure for adding an artistic component to your photos. And let's not even
      get into post-shoot edits. Point is, event photography can get quite hectic, especially if
      there is the pressure of client satisfaction involved.
    </p>

    <p>
      Provided all the stress involved with event photography, that original passion that I
      had has subdued. It may be a temporary thing, or perhaps photography for me was just a phase.
      Event photography became more of a business to me than a hobby. I remember staying up late on weekends
      sifting through thousands of photos on Adobe Lightroom while everyone else was either out partying
      or asleep. For this reason, I have decided to put my camera down for a few years so that I can
      focus on  other hobbies such as traveling and honing in on my programming skills. For the time being,
      I have posted some of my favorite photos that I have taken over this 4 year journey. Enjoy!
      <a class='photography_a' ng-click='vm.showAllText()' href=''>Show Less</a>
    </p>
  </div>

</div>

<my-modal images='vm.images'></my-modal>
