/* Fade in */
.fade.ng-enter {
  transition:1.0s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}


/*------------------------------------------------------------------------------*/

.spinner-hide .loading {
  visibility: visible;
}
.spinner-show .loading {
  visibility: hidden;
}

/*------------------------------------------------------------------------------*/

.grow:hover {
  transition: 1.0s;

  -webkit-transform:scale(1.25); /* Safari and Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* IE 9 */
  -o-transform:scale(1.25); /* Opera */
   transform:scale(1.25);
}

.grow {
  transition: 1.0s;

  -webkit-transform:scale(1); /* Safari and Chrome */
  -moz-transform:scale(1); /* Firefox */
  -ms-transform:scale(1); /* IE 9 */
  -o-transform:scale(1); /* Opera */
   transform:scale(1);
}

/*------------------------------------------------------------------------------*/

@media (max-width: 1000px) {

  /* TODO - DISABLE ZOOM FOR MOBILE */

  .grow:hover {
    transition: 1.0s;

    -webkit-transform:scale(1); /* Safari and Chrome */
    -moz-transform:scale(1); /* Firefox */
    -ms-transform:scale(1); /* IE 9 */
    -o-transform:scale(1); /* Opera */
     transform:scale(1);
  }

  .grow {

  }
}
