
/* GENERAL */
/*----------------------------------------------------------------------------*/
img {
  max-width: 100%;
}


/* CIRCULAR EDGES */
/*----------------------------------------------------------------------------*/

.circular-square {
  border-radius: 50%;
}

/* GREY OUT ON HOVER*/
/*----------------------------------------------------------------------------*/

.grey-out {
  transition: 0.5s linear all;
  opacity: 1.0;
}

.grey-out:hover {
  transition: 0.5s linear all;
  opacity: 0.5;
}

/*----------------------------------------------------------------------------*/
