html,
body {
	padding: 0;
	margin: 0;
	height:100%;
}

/* All page templates will fit within this box */
.partial {
	height:100%;

  /* Sets borded for region where templates go */
  border-style: outset;

  /* padding */
  padding-left: 10px;
  padding-right: 10px;

  /* TODO - figure out what this does */
  display: table;
  margin: 0 auto;

  /* Don't want to go all the way to edge of screen */
  width: 80%;
}
