html,
body {

	text-align: center;

  /* From Google fonts */
  font-family: 'Muli', sans-serif;
}

/* Keep links with white text */
.white {
  color:white;
  text-decoration:none;
}

.black {
  color:#333;
  text-decoration:none;
}


/* Align text left */
.left {
  text-align: left;
}

.no-bullets {
	list-style-type: none;
}


span.grow-text:hover {
	transition: 1.0s;
  font-size: 150%;
}

span.grow-text {
	transition: 1.0s;
  font-size: 100%;
}
