<div id='header'>
  <div class="navbar" id="myTopnav" ng-esc='$ctrl.hideNavBarOptions()'>

    <div style='display: table; margin: 0 auto;'>
        <a
          ng-repeat="href in $ctrl.modules"
          class="white-link grow"
          ng-click="$ctrl.hideNavBarOptions()"
          href="{{'#!' + href}}">{{href.charAt(0).toUpperCase() + href.slice(1)}}
        </a>

      <a
        style='position:absolute;right: 0;'
        href="javascript:void(0);"
        class="icon"
        ng-click="$ctrl.navBar()">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </a>
    </div>

  </div>
</div>
