 @import "../../style/variables";

// Makes the header responsive
@media screen and (max-width: $mobile) {
  #header {
    /* Effectively, don't change */
    .navbar a:hover {
      background-color: #111;
      color: white;
    }

    .navbar a:not(:first-child) {
      display: none;
    }

    .navbar a.icon {
      float: right;
      display: block;
    }

    .navbar.responsive {
      position: relative;
    }

    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
    }
  }
}
