@media screen and (max-width: 600px) {
  #header {
    /* Effectively, don't change */ }
    #header .navbar a:hover {
      background-color: #111;
      color: white; }
    #header .navbar a:not(:first-child) {
      display: none; }
    #header .navbar a.icon {
      float: right;
      display: block; }
    #header .navbar.responsive {
      position: relative; }
    #header .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0; }
    #header .navbar.responsive a {
      float: none;
      display: block; } }
