<div class="topnav" id="myTopnav" style="width:100%" ng-esc='$ctrl.hideNavBarOptions()'>

  <div style='display: table; margin: 0 auto;'>
      <a
        ng-repeat="href in $ctrl.hrefs"
        class="white-link"
        ng-click="$ctrl.hideNavBarOptions()"
        href="{{href.href}}">{{href.text}}
      </a>

    <a
      style='position:absolute;right: 0;'
      href="javascript:void(0);"
      class="icon"
      ng-click="$ctrl.navBar()">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </a>
  </div>

</div>
