
ul li ul.dropdown {
  padding: 0;
  min-width: 100%;
  background: #333;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}

ul li:hover ul.dropdown {
    /* Display the dropdown */
    display: block;

}

a.dropdown {
  display: block;
  padding: 14px 21px;
  text-decoration: none;
}

ul li ul.dropdown li {
    display: block;
}


img.interest {
  padding:1px;
  border:1px solid #021a40;
}
