@import "../../core/style/variables";

#left {
  float: left;
  width: 65%;
  overflow: hidden;;
}

#right {
  overflow: hidden;
}

#fun-facts {
  padding: 0;
}

@media (max-width: $mobile) {

  #left {
    float: inherit;
    width: 100%;
  }

}
