.portrait {
  display: none;
}

.about_me_li {
  word-wrap: break-word;
}

.quote {
  color: #333;
  margin-top: 100px;
  margin-bottom: 100px;

  /* Remove underline, etc */
  text-decoration: none !important;
}

ul.home {
  padding: 0;
}


li.home {
  border-top-style: solid;
  border-top-width: 1px;
}

.circular-square {
  border-radius: 50%;
}
